<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice 1</title>
    <link rel="stylesheet" href="./static/css/ex1.css">
</head>
<body>
    <div class="container">
        <canvas id="canvas"></canvas>
        <div class="dog">
            <img src="./static/img/dog.jpeg">
        </div>
        
    </div>
    <a href="/lista_30_10/home_lista_30_10">Back to home</a>

    <script src="./static/js/ex1.js"></script>
</body>
</html>

