<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exercise 2</title>
  <link rel="stylesheet" href="./static/css/ex2.css">
</head>
<body>
  <div class="container">
    <h1>Capture Photo from Webcam</h1>
    <div class="webcam-container">
      <video id="webcam" autoplay></video>
      <button id="capture-btn">Capture Photo</button>
    </div>
    <canvas id="canvas" style="display:none;"></canvas>
    <div id="photo-container">
      <h2>Captured Photo</h2>
      <img id="captured-photo" src="" alt="Captured Photo">
      <button><a href="/lista_30_10/home_lista_30_10">Back to home</a></button>
    </div>
    
  </div>
  <script src="./static/js/ex2.js"></script>
</body>
</html>
