<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('lista_30_10.static', filename='css/home.css') }}">
  <title>Home - List of day 30/10</title>
</head>

<body>
  <div class="container">
    <div class="home">
      <a href="/lista_30_10/ex1_lista_30_10">Exercise 1</a>
      <a href="/lista_30_10/ex2_lista_30_10">Exercise 2</a>
      <a href="/lista_30_10/ex3_lista_30_10">Exercise 3</a>
      
      <div>
        <h4>Exercise 5:</h4>
        <a href="/lista_30_10/curriculum_franciele">Franciele</a>
        <a href="/lista_30_10/curriculum_vinicius">Vinicius</a>
        <a href="/lista_30_10/curriculum_nathan">Nathan</a>
        <a href="/lista_30_10/curriculum_isabelle">Isabelle</a>
        <a href="/lista_30_10/curriculum_caio">Caio</a>
      </div>
      <a href="/lista_30_10/contact_lista_30_10">Contact page exemple</a>

      <a href="/">Back to portifolio</a>
    </div>
    
  </div>

</body>

</html>