<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="./static/css/nathan.css">
</head>
<body>
    <header>
        <h1>Curriculum - Nathan Brito</h1>
        <a href="/lista_30_10/home_lista_30_10" class="btn">Back to Home</a>
    </header>
    <div class="pdf-container">
        <embed src="./static/pdf/CV Nathan Brito.pdf" type="application/pdf" width="900" height="800">
    </div>
</body>
</html>
