* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

.webcam-container {
  position: relative;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  border: 1px solid #e8e6e6;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #defcf0;
  width: 9rem;
  height: 2.5rem;
  font-size: 1rem;
  color: #363636;
  cursor: pointer;
}

button>a {
  color: #363636;
}

button:hover {
  background-color: #45a049;
}

#photo-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#captured-photo {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

